


	{{>header}}
			
	<nav>
		<div class="row bar-tool">
			<span class="check-all-img" style="margin-right: 10px;">
				<input style="margin: auto;" type="checkbox" name="" value="1" id="checkall">
				<label for="checkall">Check all</label>
			</span>
			<button class="btn btn-primary " data-toggle="modal" data-target="#modal-share" style="margin-right: 10px;">
				Share
			</button>
			<a href="" id="insert-img" style="margin-right: 10px;" data-toggle="modal" data-target="#modal-upload"
				class="btn btn-primary ">
				Add image
			</a>
			<a href="" id="download-img" style="margin-right: 10px;" data-toggle="modal" data-target="#download-upload"
				class="btn btn-primary ">
				Download image
			</a>
			
	</nav>
	<form method="post" id="share-form" action="/image/{{user.id}}/share" class="row form-gallery">
		<input type="hidden" name="withUser" id="withUser" value="">
		{{#if imglist}}
		{{#each imglist}}
		<div class="col-lg-4 col-sm-6">
			<div class="card">
				<input type="checkbox" name="myImg" value="{{this.id}}" id="id-{{this.id}}" class="imgCheck" />
				<label for="id-{{this.id}}">Chọn ảnh</label>
					<div >
						<div class="thumbnail img-responsive">
							<a href="#" title="Image "><img id="{{this.id}}" class="img-crop"
									src="data:image/jpeg;base64,{{srcImg this.buffer this.key}}"/>
							</a>
						</div>
					</div>
			</div>
			
		</div>
		{{/each}}
		{{else}}
			<h1> NOTHING HERE PLS UPLOAD IMAGE</h1>
			<br/><br/><br/><br/><br/><br>
			<br/><br/><br/><br/><br/><br>
			<br/><br/><br/><br/><br/><br>
			<br/><br/><br/><br/><br/><br>

		{{/if}}
	</form>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
				</div>
				<div class="modal-body-see">
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Upload image</h4>
				</div>
				<div class="modal-body">
					<form id="my-form" action="/image/{{user.id}}/upload" method="post" enctype="multipart/form-data">
						<input type='file' name="image" onchange="readURL(this);" />
						<img id="blah" src="http://placehold.it/180" alt="your image" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" form="my-form" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">share image with friend</h4>
				</div>
				<div class="modal-body">
					<form method='get' autocomplete="off" >
                            <div class="autocomplete">
                                <label for="nameUser">Nhập tên người nhận:</label>
                                <input id="nameUser" type="text"  placeholder="Tên người nhận">
                            </div>
                        </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" id="submit-share" form="share-form" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	{{!-- {{>footer}} --}}
	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script type="text/javascript">
        // Gallery image hover
        $('.thumbnail').click(function () {
            $('.modal-body-see').empty();
			$(this).find("a img").removeClass("img-crop");
            $($(this).find("a").html()).appendTo('.modal-body-see');
            $('#modal').modal({ show: true });
			$(this).find("a img").addClass("img-crop");
        });
       

        $('#modal').on('show.bs.modal', function () {
            $('.col-6,.row .thumbnail').addClass('blur');
        })

        $('#modal').on('hide.bs.modal', function () {
            $('.col-6,.row .thumbnail').removeClass('blur');
        })    
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        var checkItem =  $('input[name="myImg"]')
        $('#checkall').change(function (e) {
           var thisit = $(this).prop('checked')
           checkItem.prop('checked' ,thisit)

        })
        checkItem.change(function (e) {
            var check = checkItem.length === $('input[name="myImg"]:checked').length
            $('#checkall').prop('checked' ,check)

        })
		var listUser =[]
		$.getJSON('/api/users', function(data) {
			for(const item of data) {
				var str = item.user + "-"+ item.name
				listUser.push(str)
			}
		})
		var formshare = document.forms['share-form']
		formshare.addEventListener('submit', function(e) {
			var share = $('#nameUser').val().split('-')
		    $('#withUser').val(share[0])
			console.log($('#withUser').val())
			formshare.submit()
		})
		autocomplete(document.getElementById('nameUser'),listUser)

		$('#download-img').click(function(){
			var images = $('input[name="myImg"]:checked').toArray()
			if (images.length==0)
				return;
			var imageids = []
			for (var i of images)
			{
				// tách lấy id
				imageids.push(i.id.split('-')[1])
			}
			var imagetags = document.getElementsByTagName('img');
			for (var i of imagetags)
			{
				if (imageids.includes(i.id))
				{
					var link = document.createElement("a");
					link.download = i.id + '.jpg';
					link.href = i.src;
					link.click();
				}
				
			}
		})


    </script>



